<!-- templates/matches.html -->
{% extends 'cricket_base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Matches</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Team 1</th>
                <th scope="col">Team 2</th>
                <th scope="col">Overs</th>
                {% comment %} <th scope="col">Tournament</th> {% endcomment %}
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
            <tr>
                <td>{{ match.name }}</td>
                <td>{{ match.date }}</td>
                <td>{{ match.team1.name }}</td>
                <td>{{ match.team2.name }}</td>
                <td>{{ match.overs }}</td>
                {% comment %} <td>{{ match.tournament.name if match.tournament else 'N/A' }}</td> {% endcomment %}
                <td>
                    <a href="{% url 'start_match' match.id %}" class="btn btn-primary">GO</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}